@import "breakpoints.scss";

* {
  font-family: var(--font-ibm-plex-sans), sans-serif;
}

.mono {
  font-family: var(--font-ibm-plex-mono), monospace;
}

h1 {
  font-size: var(--whale);

  @include respond(mobile) {
    font-size: calc(var(--elephant) * 1.5);
  }
}

h2 {
  font-size: var(--elephant);

  @include respond(mobile) {
    font-size: var(--hypo);
  }
}

h3 {
  font-size: var(--hypo);

  @include respond(mobile) {
    font-size: var(--bear);
  }
}

h4 {
  font-size: var(--bear);

  @include respond(mobile) {
    font-size: var(--dog);
  }
}

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: 400;
}

.font-thin {
  font-weight: 300;
}

.color-primary {
  color: var(--primary);
}

.color-light {
  color: var(--text-color-light);
}

.color-normal {
  color: var(--text-color);
}

.font-mouse {
  font-size: var(--mouse);
}

.font-cat {
  font-size: var(--cat);
}

.font-dog {
  font-size: var(--dog);
}

.font-bear {
  font-size: var(--bear);
}

.font-hypo {
  font-size: var(--hypo);
}

.font-elephant {
  font-size: var(--elephant);
}

.font-giraffe {
  font-size: var(--giraffe);
}

.font-dinosaur {
  font-size: var(--dinosaur);
}

.font-whale {
  font-size: var(--whale);
}

.text-center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}
