:root {
  /* COLORS */
  --background: #0e0e18;
  --background-card: rgba(21, 21, 31, 0.8);
  --primary: #24e8c5;
  --text-color: #ffffff;
  --text-color-light: #c4ccdb;
  --stroke-color: #667085;
  --competitors-color: #614fda;

  /* FONT SIZES */
  --mouse: 1.2rem;
  --cat: 1.4rem;
  --dog: 1.6rem;
  --bear: 2rem;
  --hypo: 2.4rem;
  --elephant: 3.2rem;
  --giraffe: 4.2rem;
  --dinosaur: 5.2rem;
  --whale: 6rem;
}
